@model EmailFinder.Models.EmailFinderViewModel
<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-envelope"></span> @ViewBag.Title</h1>
    <p class="lead">Find correct email to any person. At least, try ;)</p>
    <div class="form-group"><label for="name">Name</label> <input type="text" id="name"/></div>
    <div class="form-group"><label for="name">Surname</label> <input type="text" id="surname" /></div>
    <div class="form-group"><label for="name">Domain</label> <input type="text" id="domain" /></div>
    <p>
        @foreach (var discoveryService in Model.EmailDiscoveryServices)
        {
            <input data-description="@discoveryService.Item1" class="discoveryService" type="checkbox" id="@discoveryService.Item2" checked="checked"/>
            <label for="@discoveryService.Item2" class="text-success">@discoveryService.Item1</label>
        }
    </p>
    <p>
        <button id="find" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-search"></span> Find Emails</button>
    </p>
</div>
<div class="row">
    <div class="text-center" style="display: none" id="emails-list-loader">
        <span class="glyphicon glyphicon-refresh glyphicon-loader"></span>
    </div>        
    <div id="emails-list">
    </div>
</div>
